<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

  <th:block layout:fagment="head" th:include="@{/common/head}">
  </th:block>

  <div layout:fragment="content" class="content">
    <article>
      <div class="container" role="main">
        <h2>게시판 상세</h2>
        <form name="form" id="form" role="form" method="post" action="${pageContext.request.contextPath}/board/saveBoard">
          <div class="mb-3">
            <label for="boardTitle">제목</label>
            <input type="text" class="form-control" id="boardTitle" name="boardTitle" placeholder="제목을 입력해 주세요" value="" >
          </div>

          <div class="mb-3">
            <label for="regId">작성자</label>
            <input type="text" class="form-control" id="regId" name="regId"  value="" readonly>
          </div>


          <div class="mb-3">
            <label for="boardContent">내용</label>
            <textarea class="form-control" rows="5" id="boardContent" name="boardContent" placeholder="내용을 입력해 주세요"></textarea>
          </div>

        </form>

        <br>
          <div>
            <button onclick="registerAction()" type="button" class="btn btn-sm btn-primary" id="btnSave">수정</button>
            <button onclick="boardDelete()" type="button" class="btn btn-sm btn-danger" >삭제</button>
            <button onclick="location.href='/'" type="button" class="btn btn-sm btn-primary" id="btnList">목록</button>
          </div>
      </div>
    </article>
  </div>
</html>